{% include "navbar.html" %}
{% load static %}
<style>
#search_input{

width:40vw;
height:8vh;
border-radius:20px;
padding:20px;
outline:none;
color:white;
border:3px solid white;

padding-left:50px;
background:none;
}
.search_div{
display:inline-flex;
position:fixed;
z-index:3;
left:28vw;
top:1vh;
}
.icon_st{
margin-right:-35px;
color:white;
margin-top:3vh;
z-index:4;
transform:scale(1);
}
.container_mb{
width:65vw;
height:100%;


}
.prod{

width:45vw;
height:32vh;
background:rgba(255,255,255,0.05);
border-radius:10px;
padding:15px;
display:flex;

color:white;
margin-top:5vh;
text-decoration:none;
}
.busi{
width:15vw;
height:60vh;
background:rgba(255,255,255,0.05);
border-radius:10px;
padding:15px;
display:block;
color:white;
margin-top:5vh;
text-decoration:none;
}
img{
width:15vw;
height:30vh;

}
.p_prod{

color:white;
font-size:1.1rem;
margin-top:2vh;
}
.v_prod{
color:white;
font-size:1rem;
margin-top:2vh;
}
.div_sec{
width:25vw;
height:30vh;
padding:10px;
}
.price_sec{
width:10vw;
height:20vh;
display:block;
}
.tit_sec{
font-size:1.2rem;
letter-spacing:2px;
margin-bottom:2vh;
}
.cate_sec{
letter-spacing:2px;
margin-bottom:3vh;
}
.rate_sec{
letter-spacing:2px;

}
.pri_sec{
font-size:1.5rem;
color:orange;
}
.busi_sec{
margin-top:3vh;
color:grey;
font-size:0.7rem;
}
.container_busi{
position:fixed;
width:30vw;
height:80vh;
overflow:hidden;
overflow-y:auto;
padding:0;
left:74vw;
top:12vh;
}
</style>
<div class="mainbody">
<form class="search_div">{% csrf_token %}
<div class="icon_st"><i class="fa-solid fa-magnifying-glass"></i></div>
<input type="text" placeholder = "What are you looking for......" name="search_item" id="search_input">


</form>
<script>
var searchInput = document.getElementById("search_input");
searchInput.addEventListener("input", function(e) {
    e.preventDefault();
	var container_prod = document.getElementsByClassName("container_mb")[0];
container_prod.innerHTML = "";
    var inputValue = event.target.value;
    $.ajax({
	url:"{% url 'searchbar' %}",
    method:"POST",	
	data:{
	"csrfmiddlewaretoken":"{{csrf_token}}",
	"query_string":inputValue,
	
	},
	success: function(response) {
    var lengthed = response.prod.length;
	var leng = response.busi.length;
    var container_prod = document.getElementsByClassName("container_mb")[0];
	var container_busi = document.getElementsByClassName("container_busi")[0];
	console.log(response , lengthed);
   for (var i = 0; i < lengthed; i++) {
    // Extract product details
    var token = response.prod[i][0];
    var productName = response.prod[i][1];
    var views = response.prod[i][2];
    var imageUrl = response.prod[i][3];
    var category = response.prod[i][4];
    var rate = response.prod[i][5];
    var price = response.prod[i][6];
    var business = response.prod[i][7];

    // Create a new 'a' element
    var aTag = document.createElement('a');
    aTag.className = 'prod';
     aTag.href = '{% url "product" "' + token + '" %}';   // Update this if you have a URL to link to

    // Create a new 'img' element
    var imgTag = document.createElement('img');
    imgTag.src = imageUrl;
    imgTag.alt = productName;  // Optional: Adding alt text

    // Create a new 'div' element for the details
    var divTag = document.createElement('div');
    divTag.className = 'div_sec';

    // Create new 'p' elements for product details and append to 'div'
    var titleTag = document.createElement('p');
    titleTag.className = 'tit_sec';
    titleTag.textContent = productName;
    divTag.appendChild(titleTag);

    var categoryTag = document.createElement('p');
    categoryTag.className = 'cate_sec';
    categoryTag.textContent = category;
    divTag.appendChild(categoryTag);

   var rateTag = document.createElement('p');
rateTag.className = 'rate_sec';
rateTag.innerHTML = rate + " <i class='fa fa-star' style='color:orange;'></i> rated by 1000 user";
divTag.appendChild(rateTag);


    var businessTag = document.createElement('p');
    businessTag.className = 'busi_sec';
    businessTag.textContent = "From " + business;
    divTag.appendChild(businessTag);

    // Create a new 'section' element for the price
    var sectionTag = document.createElement('section');
    sectionTag.className = 'price_sec';

    var priceTag = document.createElement('p');
    priceTag.className = 'pri_sec';
    priceTag.textContent = "Rs." + price;
    sectionTag.appendChild(priceTag);

    // Append 'img', 'div', and 'section' to the 'a' element
    aTag.appendChild(imgTag);
    aTag.appendChild(divTag);
    aTag.appendChild(sectionTag);

    // Append 'a' to the container
    container_prod.appendChild(aTag);
}

	 for (var i = 0; i < leng; i++) {
    // Extract product details
    var token = response.busi[i][0];
    var productName = response.busi[i][1];
    var views = response.busi[i][2];
    var imageUrl = response.busi[i][3];
    var category = response.busi[i][4];
    var since = response.busi[i][5];
    var lp = response.busi[i][6];

    // Create a new 'a' element
    var aTag = document.createElement('a');
    aTag.className = 'busi';
    aTag.href = '{% url "business_profile" "' + token + '" %}';  // Update this if you have a URL to link to

    // Create a new 'img' element
    var imgTag = document.createElement('img');
    imgTag.src = imageUrl;
    imgTag.alt = productName;  // Optional: Adding alt text

    // Create a new 'div' element for the details
    var divTag = document.createElement('div');
    divTag.className = 'div_sec';

    // Create new 'p' elements for product details and append to 'div'
    var titleTag = document.createElement('p');
    titleTag.className = 'tit_sec';
    titleTag.textContent = productName;
    divTag.appendChild(titleTag);

    var categoryTag = document.createElement('p');
    categoryTag.className = 'cate_sec';
    categoryTag.textContent = category;
    divTag.appendChild(categoryTag);

    var sinceTag = document.createElement('p');
    sinceTag.className = 'cate1_sec';
    sinceTag.innerHTML= "since " + since ;
    divTag.appendChild(sinceTag);

    var rateTag = document.createElement('p');
    rateTag.className = 'rate_sec';
    rateTag.innerHTML= views +" <i class='fa fa-star' style='color:orange;'></i> ratings";
    divTag.appendChild(rateTag);

    var lpTag = document.createElement('p');
    lpTag.className = 'busi_sec';
    lpTag.textContent =  lp +" Listed products ";
    divTag.appendChild(lpTag);

    // Append 'img' and 'div' to the 'a' element
    aTag.appendChild(imgTag);
    aTag.appendChild(divTag);

    // Append 'a' to the container
    container_busi.appendChild(aTag);
}

	
},

	
	
});

});
</script>



<div class="mainbody">
<p style="font-size:1.4rem;">Top Results</p>
<br>
<div class="container_mb">




</div>

<div class="container_busi">
<p style="color:orange;font-size:1.2rem;margin-top:2vh;">Related Stores / Business</p>


</div>






</div>
</div>